
body {
    background: url('../../static/img/bg1.jpg') no-repeat;
    background-size: cover;
    /*background-size: 100% 100%;*/
    background-attachment: fixed;
}

#login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #00000080;
    padding: 20px 20px 30px 20px;
    border-radius: 8px;
}

#login-box .form {
    margin-top: 40px;
}

#login-box h3 {
    color: #fff;
}
#login-box .form .item i {
    color: #fff;
}

#login-box .form .item input{
    width: 250px;
    font-size: 15px!important;
    outline: none;
    caret-color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    color: #fff;
    /*background: #00000000;*/
    background: transparent;
    margin-top: 10px;
}
::-webkit-input-placeholder {
    color: #fff;
}

#login-box .to-login {
    margin-top: 30px;
    width: 180px;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    /*background-image: linear-gradient(-225deg, #7742B2 0%, #F180FF 52%, #FD8BD9 100%);*/
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

#err-msg {
    width: 250px;
    margin: auto;
    text-align: left;
    color: red;
    display: none;
}
.nouser {
    float: right;
    bottom: -6px;
    color: #fa7d3c;
    text-decoration: none;
}
.register {
    padding: 0 30px;
}

.register input{
    font-size: 14px!important;
    border-bottom: 1.5px solid #fff!important;
}
.code {
    width: 250px;
    text-align: left;
    position: relative;
    left: 51.4%;
    transform: translate(-50%);

}
.code input {
    width: 125px !important;


}

.code a {
    position: absolute;
    right: 0;
    bottom: 6px;
    text-decoration: none;
    color: #fa7d3c;
}
a:link {
    color: #fa7d3c !important;
    text-decoration: none!important;
}
a:visited {
    color: #fa7d3c!important;
    text-decoration: none!important;
}
a:hover {
    text-decoration: none!important;
    color: #fa7d3c!important;
}
a:active {
    text-decoration: none!important;
    color: #fa7d3c!important;
}

.login-code {
    width: 270px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
}
.login-code input{
    width: 100px!important;
}
