<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>HG博客-分享生活，留住感动</title>
	<script src="../static/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="../static/lib/bootstrap/bootstrap.min.css">
</head>
<style>
	.blog-lock .header {
		margin: 20px 0;
		padding-left: 40px;
	}

	.lock-user {
		list-style: none;
		width: 50%;
	}

	.lock-user li {
		float: left;
		margin-right: 20px;
	}

	.lock-user img {
		width: 80px;
		height: 80px;
		border-radius: 4px;
	}

	.foot {
		padding-left: 40px;
		margin-top: 50px;
	}
</style>
<body>
<div class="container blog-lock">
	<div class="header">
		<img src="../static/img/about-me/logo.svg" alt="">
		<h3 style="display: inline-block">HG博客</h3>
	</div>
	<ul class="lock-user clearfix">
		<li>
			<img src="../static/img/index/2176-1Z31315055060.jpg" alt="">
		</li>
		<li>暴走蜗牛</li>
		<li>
			<button class="btn btn-default">+&nbsp;添加好友</button>
		</li>
	</ul>
	<div class="foot">
		<p class="text-muted">博主比较内向。您可以添加好友或者申请访问</p>
		<button class="btn btn-primary">申请访问</button>
	</div>
</div>
</body>
</html>