<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>详情页</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/bootstrap.min.css">
</head>
<style>

</style>
<body>
<ul class="media-list">
    <li class="media">
        <a href="#" class="pull-left">
            <img style="width: 60px;" class="media-object" src="http://120.27.209.183/group1/M00/00/00/rB2quV7LesOACMmgAADZfd7-gqk373_big.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Matt</h4>
            <div>沿着荷塘，是一条曲折的小煤屑路。这是一条幽僻的路；白天也少人走，夜晚更加寂寞。荷塘四周，长着许多树，蓊蓊（wěng）郁郁（2）的。路的一旁，是些杨柳，和一些不知道名字的树。没有月光的晚上，这路上阴森森的，有些怕人。今晚却很好，虽然月光也还是淡淡的。</div>
            <div class="media">
                <div class="media-left" style="padding-left: 60px;padding-right: 10px;">
                    <a href="#">
                        <img style="width: 60px;" class="media-object" src="http://120.27.209.183/group1/M00/00/00/rB2quV7LesOACMmgAADZfd7-gqk373_big.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">LZH</h4>
                    <div>我爱你</div>

                </div>
            </div>
        </div>
    </li>
    <li class="media">
        <a href="#" class="pull-left">
            <img style="width: 60px;" class="media-object" src="http://120.27.209.183/group1/M00/00/00/rB2quV7LesOACMmgAADZfd7-gqk373_big.png">
        </a>
        <div class="media-body">
            <h4 class="media-heading">SSS</h4>
            <div>路上只我一个人，背着手踱（duó）着。这一片天地好像是我的；我也像超出了平常的自己，到了另一个世界里。我爱热闹，也爱宁静；爱群居，也爱独处。像今晚上，一个人在这苍茫的月下，什么都可以想，什么都可以不想，便觉是个自由的人。</div>
            <div class="media">
                <div class="media-left" style="padding-left: 60px;padding-right: 10px;">
                    <a href="#">
                        <img style="width: 60px;" class="media-object" src="http://120.27.209.183/group1/M00/00/00/rB2quV7LesOACMmgAADZfd7-gqk373_big.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">LZH</h4>
                    <div>我爱你</div>
                </div>
            </div>
        </div>
    </li>


</ul>
</body>
</html>